<tr>
    <td align='center' style='padding: 10px 10px; font-size: 20px; font-family: arial'></td>
    <td align='left' style='padding: 10px 10px; font-size: 20px; font-family: arial'>
        Shipping Charge
    </td>
    <td align='center' style='padding: 10px 10px; font-size: 20px; font-family: arial'>
        &#x20b9;
    </td>
    <td align='center' style='padding: 10px 10px; font-size: 20px; font-family: arial'></td>
    <td align='center' style='padding: 10px 10px; font-size: 20px; font-family: arial'></td>
    <td align='center' style='padding: 10px 10px; font-size: 20px; font-family: arial'>
        TAXRATESHIPPING
    </td>
    <td align='center' style='padding: 10px 10px; font-size: 20px; font-family: arial'></td>
    <td align='center' style='padding: 10px 10px; font-size: 20px; font-family: arial'>
        TAX RATE AMOUNT
    </td>
    <td align='left' style='padding: 10px 10px; font-size: 20px; font-family: arial'>
        GRAND TOTAL
    </td>
</tr>
<tr style='background: #ccc'>
    <th align='left' colspan='7' style='padding: 10px 10px; font-size: 25px; font-family: arial'>
        Total
    </th>
    <th align='left' style='padding: 10px 10px; font-size: 25px; font-family: arial'>
        TAX Total Amount
    </th>
    <th align='left' style='padding: 10px 10px; font-size: 25px; font-family: arial'>
        ALL GRAND Total
    </th>
</tr>